

body{
    background-color: whitesmoke;
    margin: 0%;
    text-align: center;
    font-family: 'Merriweather', serif;;
}
h1{
    margin: 50px auto 0px auto;
    font-size: 5.625rem;
    /* 90px  == 5.625em   == 562.5% */
    /* font-family: 'Berkshire Swash', cursive, serif; */
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}
h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

.top-container{
    background-color:bisque;
    position: relative;
    padding-top: 100px;
}

.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.flaticon{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.animated{
    width: 25%;
    float: right;
    margin-left: 30px;
}

#p-eng{
    font-style: italic;
}
#top-cloud-img{
    position: absolute;
    right: 300px;
    top: 50px;
}
#bottom-cloud-img{
    position: absolute;
    left: 300px;
    bottom: 200px;
}
